<footer class="footer">
    <div class="container">
        <div class="row">
            {{!
            <div class="col">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            }}
            <div class="col text-right">
                <section class="copyright">
                    <a href="{{@site.url}}" rel="copyright"><strong>{{@site.title}}</strong></a> &copy; {{date format="YYYY"}}
                </section>
                <section class="themeby">
                    {{t "Theme by"}} <a href="//nehalist.io">nehalist.io</a>
                </section>
            </div>
        </div>
    </div>
</footer>
