<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <!--<li class="nav-item"><a class="nav-link"><i class="fa fa-search fa-lg"></i></a></li>-->
                <!--<li class="nav-item"><a class="nav-link"><i class="fa fa-twitter fa-lg"></i></a></li>-->
                <!--<li class="nav-item"><a class="nav-link"><i class="fa fa-github fa-lg"></i></a></li>-->
            </ul>
        </div>
    </div>
</nav>
