<div class="post">
    <span class="tags">
    </span>
    <h2 class="title">How to make stylish things</h2>
    <div class="image">
        <img src="https://images.unsplash.com/photo-1494949649109-ecfc3b8c35df?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4a8b7a2b1e454c2175736be34bdbc85f&auto=format&fit=crop&w=1489&q=80">
    </div>
    <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu elit urna. In quis dui ex. Aliquam at justo vel justo condimentum feugiat. Nunc laoreet molestie posuere. Mauris neque quam, iaculis ac porttitor ac, tincidunt vel libero. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis et mi eget lorem blandit mattis nec eget mauris. Sed sit amet elit ut augue vehicula sollicitudin vitae tempus turpis. Duis vel odio non leo fermentum pharetra.
    </div>
</div>
