<div class="search modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="search__input" placeholder="What are you looking for?" id="search-input">
                <ul class="search__results" id="search-results"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script id="search-result-item" type="text/template">
    <li class="search__result">
        <a class="search__result-link" href="%url%">
            <div class="search__result-meta">
                <span class="search__result-tag">%primary_tag%</span>
                <span class="search__result-date pull-right">%date%</span>
            </div>
            %title%
        </a>
    </li>
</script>
