{{!< default}}

{{> "header"}}

<main class="content container">
    <div class="col-9">
        <div class="posts">
            {{#foreach posts}}
                {{> "post"}}
            {{/foreach}}
        </div>
    </div>
    <div class="col-3">
    </div>
</main>
