{{!< default}}

{{navigation}}

{{> "header"}}

<div class="container content">
    <div class="row">
        <div class="col-md-12 col-lg-8">
            <main id="content">
                <div class="posts">
                    {{#foreach posts}}
                        {{> "post-preview"}}
                    {{/foreach}}
                </div>

                {{pagination}}
            </main>
        </div>
        <div class="col-md-12 col-lg-4 sidebar-container">
            <aside id="sidebar">
                {{> "sidebar" tag_list=true}}
            </aside>
        </div>
    </div>
</div>
