{{!< default}}

{{> "header"}}

<main class="content container">
    <div class="row">
        <div class="col">
            <div class="posts">
                {{#foreach posts}}
                    {{> "post"}}
                {{/foreach}}
            </div>
        </div>
        <div class="col-3">
            {{> "sidebar"}}
        </div>
    </div>
</main>
