@import 'base';

.error {
  display: flex;
  align-content: center;
  justify-content: center;
  flex: 1 auto;

  &__image {
    max-width: 100%;
  }

  &__code {
    font-size: 2em;
    font-weight: bold;
    flex-basis: 100%;

    small {
      display: block;
      font-size: .5em;
      opacity: .8;
      width: 100%;
    }
  }
}
