@import 'base';

.footer {
  background-color: $header-background-color;
  color: $footer-text-color;
  font-size: .85em;
  height: $footer-height;
  line-height: 1.4em;
  margin-top: 50px;
  padding-top: 10px;

  a {
    color: $footer-text-color;

    &:hover {
      text-decoration: underline;
    }
  }

  .themeby {
    font-size: .9em;
  }
}
