@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla-Regular.ttf");
}

body {
  color: lighten(#000, 30%);
  font-family: "Montserrat", "Arial", sans-serif !important;
  line-height: 34px;
}

a {
  color: lighten(#000, 15%);
  transition: all .5s;

  &:hover {
    color: #42566A;
    text-decoration: none;
  }
}

.btn {
  font-size: .8em;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

.kg-width-wide,
.kg-width-full {
  width: 100%;
  max-width: 100%;
}

.kg-gallery-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kg-gallery-image img {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}
