@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla-Regular.ttf");
}

body {
  font-family: "Montserrat", "Arial", sans-serif !important;
}
