@import 'base';

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
}

body {
  font-family: 'Montserrat', 'Arial', sans-serif;
  line-height: 34px;
}

a {
  transition: color .5s;

  &:hover {
    color: $primary-theme-color;
    text-decoration: none;
  }
}

.btn {
  font-size: .8em;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

.no-header {
  margin-top: 75px;
}

.pagination {
  border-top: 1px solid $ultra-light-gray;
  margin-top: 50px;
  padding-top: 70px;
}

.kg-width-wide,
.kg-width-full {
  max-width: 100%;
  width: 100%;
}

.kg-gallery-container {
  border-radius: $general-border-radius;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kg-gallery-image {
  img {
    display: block;
    height: 100%;
    margin: 0;
    width: 100%;
  }
}

.kg-image {
  border-radius: $general-border-radius;
  max-width: 100%;
}
