@import 'base';

.header {
  align-items: center;
  background-size: cover;
  background: $header-background-color center;
  color: $header-font-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: $header-height;
  padding-top: 56px;
  position: relative;
  margin-bottom: 26px;
  text-align: center;

  &__title {
    font-weight: 800;
  }

  &__description {
    font-size: 1.6em;
    font-weight: 300;
    letter-spacing: 2px;
    opacity: .7;
  }

  &__logo {
    max-height: 65px;
    margin-bottom: 1.2em;
  }
}
