@import 'base';
@import '~bootstrap/scss/mixins';

.header {
  align-items: center;
  background: $header-background-color no-repeat fixed center;
  background-size: cover;
  color: $header-font-color;
  display: flex;
  flex-direction: column;
  height: $header-height;
  justify-content: center;
  margin-bottom: 26px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 56px;
  position: relative;
  text-align: center;

  &__title {
    font-size: 2em;
    font-weight: 800;

    small {
      color: $transparent-white;
      display: block;
      font-size: .45em;
      font-style: italic;
      width: 100%;
    }
  }

  &__title--center {
    text-align: center;
  }

  &__description {
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 1px;
    opacity: .7;
  }

  &__logo {
    margin-bottom: 1.2em;
    max-height: 65px;
  }

  &__author-info-wrapper {
    align-content: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__author-info {
    flex-wrap: wrap;
  }

  &__author-bio {
    font-size: 1.3em;
    opacity: .7;
    text-align: center;
  }

  &__author-image {
    border-radius: 100%;
    box-shadow: 0 0 0 5px $ultra-transparent-white;
    height: 80px;
    margin-right: 35px;
    width: 80px;
  }

  &__author-meta {
    color: $transparent-white;
    line-height: 1.2em;
  }

  &__author-link {
    color: $transparent-white;
    margin: 0 10px;

    &:hover {
      color: $white;
    }
  }

  &__social-links {
    @include media-breakpoint-down(sm) {
      display: block;
      margin-top: 5px;
    }

    display: inline;
  }

  &__tag-description {
    color: $transparent-white;
  }

  .bull {
    display: inline-block;
    margin: 0 10px;
  }

  &--for-author {
    text-align: left;
  }
}
