@import 'base';

.header {
  align-items: center;
  background: $header-background-color center;
  background-size: cover;
  color: $header-font-color;
  display: flex;
  flex-direction: column;
  height: $header-height;
  justify-content: center;
  margin-bottom: 26px;
  padding-top: 56px;
  position: relative;
  text-align: center;

  &__title {
    font-weight: 800;
  }

  &__description {
    font-size: 1.6em;
    font-weight: 300;
    letter-spacing: 2px;
    opacity: .7;
  }

  &__logo {
    margin-bottom: 1.2em;
    max-height: 65px;
  }

  &--half {
    background-color: lighten($header-background-color, 25%);
    height: $header-height / 2;
  }
}
