@import 'base';

.navigation {
  font-size: 1em;
  background: transparent;
  line-height: 1.5em;

  &__logo-container {
    height: 30px;
    padding-top: 30px;
    overflow: hidden;
    transition: padding-top .3s;
  }

  &--show-logo {
    padding-top: 0 !important;
  }

  .nav-link {
    transition: color 1s;
  }

  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    font-size: 1em;
    line-height: normal;
    text-align: center;
  }

  &.no-transparency {
    background: $header-background-color;
  }
}
