.search {
  &__input {
    border: 0;
    box-shadow: inset 0 -1px 0 #7d96ae;
    outline: none;
    padding: 6px 12px 6px 12px;
    width: 100%;
    transition: box-shadow .3s;

    &:focus {
      box-shadow: inset 0 -2px 0 #7d96ae;
    }
  }

  &__results {
    margin: 30px 0 20px 0;
    max-height: 400px;
    list-style-type: none;
    overflow-y: auto;
    padding: 0;
  }

  &__result {
    margin: 0 0 25px;
    line-height: 1em;
    padding: 0;
  }

  &__result-meta {
    font-size: .85em;
    margin-bottom: 5px;
  }

  &__result-tag {
    color: lighten(#000, 45%);
    font-weight: bold;
  }

  &__result-date {
    color: lighten(#000, 65%);
  }

  &__result-link {
    display: block;
  }
}
