@import 'base';

.sidebar {
  padding-left: 25px;

  &__widget {
    border-bottom: 1px #e5e5e5 solid;
    padding-bottom: 25px;
    margin-bottom: 25px;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__widget-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__tag-list {
    display: flex;
    flex-wrap: wrap;
    line-height: 18px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__tag-list-link {
    background-color: darken(#fff, 10%);
    border-radius: 3px;
    color: darken(#fff, 50%);
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin: 0 6px 6px 0;
    padding: 6px 14px;
    text-align: center;
    transition: all .5s;

    &:hover {
      background-color: $primary-theme-color;
      color: #fff;
      text-decoration: none;
    }
  }
}
